*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  sans-serif;
}
body{
  background-color: rgb(232, 238, 238);

}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.input-container{
  width: 100%;
  max-width: 500px;
  text-align: center;
  padding: 20px;

}
.input-container input{
border: none;
padding: 10px;
margin: 10px;
border-radius: 5px;
font-size: 16px;

}

.input-container input[type="text"]{
  width: 70%;
}
.input-container input[type="button"]{
  
  background-color: #3da33d;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  margin-left: 2px;
  padding: 12px 24px;
}
.input-container input[type="button"]:hover{
  background-color: #60b160;
}
ul{
  width: 100%;
  max-width: 450px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

ul li{
  list-style: none;
  cursor: pointer;
  margin-block-end: 12px;
  border-radius: 8px;
  border: 0.125px solid #a19f9f;
  padding: 6px 12px;
  background-color: #ffffff;
}
